html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #F5F5F5;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

h1, h2, h3, p, a {
  letter-spacing: -0.03em;
}

.header {
  padding-top: 32px;
}

.logo-link {
  display: inline-block;
  margin-right: 548px;
}

.logo {
  display: block;
  width: 126px;
  height: 22px;
}

.nav {
  display: inline-block;
}

.nav__link {
  margin-right: 60px;

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #121212;
}

.nav__link:last-child {
  margin-right: 0px;
}

.nav__link:hover {
  opacity: 0.5;
  text-decoration: underline;
}

h1 {
  width: 956px;
  margin-top: 66px;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  color: #121212;
}

.header__img {
  position: relative;
  width: 1150px;
  height: 500px;
  margin-bottom: 154px;

  background-image: url('./../resources/header-bg.jpg');
}

.header__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;

  font-size: 20px;
  color: #fff;
}

.secondary-title {
  margin-bottom: 30px;

  font-size: 18px;
  text-transform: uppercase;
}

.secondary-title_white {
  color: #fff;
}

.about__desc {
  margin-bottom: 30px;
  width: 1048px;
  
  line-height: 135%;
  font-size: 45px;
}

.about__btn {
  display: block;
  width: 255px;
  height: 67px;
  border-radius: 5px;
  margin-bottom: 150px;

  font-size: 20px;
  text-align: center;
  line-height: 67px;
  text-decoration: none;

  color: white;
  background-color: #AD1818;

}

.projects__item-list {
  margin-bottom: 90px;
}

.projects__item {
  margin-bottom: 90px;
  width: 100%;
}

.projects__item:last-child {
  margin-bottom: 0;
}

.projects__img {
  margin-bottom: 15px;
  width: 100%;
}

.projects__text {
  margin-bottom: 15px;
  font-size: 30px;
}

.projects__link {
  font-size: 20px;
  text-decoration: none;
  color: #AD1818;
}

.projects__btn {
  display: block;
  margin-bottom: 150px;
  box-sizing: border-box;
  width: 100%;
  height: 153px;
  transition: all 0.2s ease-in;

  text-align: center;
  line-height: 153px;
  font-size: 30px;
  color: #AD1818;
  text-decoration: none;
  border: 1px solid #AD1818;
}

.projects__btn:hover {
  background-color: #AD1818;
  color: #fff;
}

.section-services {
  background-color: #121212;
  padding: 150px 0;
}

.services__item {
  margin-bottom: 60px;
  width: 100%;
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__img {
  margin-bottom: 15px;
  width: 100%;
}

.services__text {
  font-size: 30px;
  color: #fff;
}

.section-example {
  height: 717px;
  background-image: url('./../resources/example-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.container {

}

.section-example__wrap {
  position: relative;
  height: 717px;
}

.section-example__text {
  position: absolute;
  bottom: 60px;
  width: 443px;

  font-size: 30px;
  color: #fff;
}