html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: #F5F5F5;
}

.hide {
  display: none !important;
}

.container {
  width: 1180px;
  margin: 0 auto;
  /*padding: 0 15px;*/
}

h1, h2, h3, p, a {
  letter-spacing: -0.03em;
}

.header {
  padding-top: 32px;
}

.menu {
  margin-bottom: 66px;
}

.logo {
  width: 126px;
  height: 22px;
}

.nav {
  display: block;
  float: right;
}

.nav__link {
  margin-right: 60px;

  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #121212;
}

.nav__link_white {
  color: #fff;
}

.nav__link:last-child {
  margin-right: 0px;
}

.nav__link:hover {
  opacity: 0.5;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

h1 {
  width: 956px;
  margin-bottom: 30px;

  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #121212;
}

.header__img {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 154px;

  background-image: url('./../resources/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.header__text {
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 430px;

  line-height: 27px;
  font-size: 20px;
  color: #fff;
}

h2 {
  margin-bottom: 30px;

  line-height: 25px;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.secondary-title_white {
  color: #fff;
}

.section-about {
  margin-bottom: 150px;
}

.about__desc {
  margin-bottom: 30px;
  width: 1048px;
  
  line-height: 135%;
  font-size: 45px;
}

.about__btn {
  display: block;
  width: 255px;
  height: 67px;
  border-radius: 5px;

  text-align: center;
  line-height: 67px;
  letter-spacing: -0.03em;
  text-decoration: none;

  color: white;
  background-color: #AD1818;
}

.section-projects {
  margin-bottom: 150px;
}

.projects__item-list {
  margin-bottom: 90px;
}

.projects__item {
  margin-bottom: 90px;
  width: 100%;
}

.projects__item:last-child {
  margin-bottom: 0;
}

.projects__img {
  margin-bottom: 15px;
  width: 100%;
}

.projects__text {
  margin-bottom: 15px;

  line-height: 41px;
  font-size: 30px;
}

.projects__link {
  line-height: 27px;
  font-size: 20px;
  text-decoration: none;
  color: #AD1818;
}

.projects__btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 153px;
  transition: all 0.2s ease-in;

  text-align: center;
  line-height: 153px;
  font-size: 30px;
  color: #AD1818;
  text-decoration: none;
  border: 1px solid #AD1818;
}

.projects__btn:hover {
  background-color: #AD1818;
  color: #fff;
}

.section-services {
  background-color: #121212;
  padding: 150px 0;
}

.services__item-list {
  display: flex;
  margin-bottom: 108px;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 85px;
}

.services__item {
  position: relative;
  width: calc(50% - 5px);
}

.services__item:last-child {
  margin-bottom: 0;
}

.services__img {
  margin-bottom: 15px;
  width: 100%;
  height: 389px;
}

.services__lable {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  border-radius: 5px;
  background-color: #AD1818;
}

.services__lable-text {
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}

.services__text {
  line-height: 41px;
  font-size: 30px;
  color: #fff;
}

.services__btn {
  width: 100%;
  transition: all 0.2s ease-in;
  border: 1px solid #AD1818;
  background-color: #AD1818;
  font-family: 'Manrope', sans-serif;
  font-size: 30px;
  line-height: 153px;
  color: #fff;
  cursor: pointer;
}

.services__btn:hover {
  background-color: #121212;
  color: #AD1818;
}

.section-feedback {
  padding: 150px 0;
}

.feedback__list-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 20px;
}

.feedback__item {
  width: calc(50% - 10px);
}

.feedback__item-large {
  width: 863px;
}

.feedback__title {
  margin-bottom: 25px;
  font-size: 45px;
  line-height: 61px;
}

.feedback__text {
  font-size: 22px;
  line-height: 30px;
}

.section-example {
  height: 717px;
  background-image: url('./../resources/example-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.section-example__wrap {
  position: relative;
  height: 717px;
}

.section-example__text {
  position: absolute;
  bottom: 60px;
  width: 443px;

  line-height: 41px;
  font-size: 30px;
  color: #fff;
}

.section-contact {
  padding: 150px 0;
}

.section-contact__title-wrapper {
  position: relative;
}

.section-contact__wrapper::before {
  content: '';

  display: block;
  margin-bottom: 15px;
  width: 13px;
  height: 22px;
  background-image: url('./../resources/phone-icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.phone {
  margin-bottom: 30px;
}

.contact__link {
  font-size: 60px;
  line-height: 1;
  color: #121212;
  text-decoration: none;
}

.footer {
  padding: 60px 0 30px;
  background-color: #121212;
}

.footer__nav {
  width: 473px;
  margin: 0 auto;
}

.footer__text {
  display: block;
  margin-top: 87px;
  text-align: center;

  color: #fff;
  opacity: 0.5;
}


/* Адаптив */

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  h1 {
    width: 802px;
    font-size: 50px;
  }

  .header__img {
    margin-bottom: 120px;
  }

  .section-about {
    margin-bottom: 120px;
  }

  .about__desc {
    width: 690px;
    font-size: 35px;
    line-height: 48px;
  }

  .section-projects {
    margin-bottom: 120px;
  }

  .projects__text {
    font-size: 25px;
    line-height: 34px;
  }

  .section-services {
    padding-bottom: 120px;
  }

  .services__item-list {
    row-gap: 80px;
  }

  .section-feedback {
    padding: 120px 0;
  }

  .feedback__title {
    font-size: 35px;
    line-height: 48px;
  }
  
  .feedback__text {
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 767px) {
  h1 {
    margin-bottom: 25px;
    width: 100%;
    font-size: 30px;
    line-height: 31.8px;
  }

  .header__img {
    height: 304px;
    margin-bottom: 80px;
    background-position: 40%;
  }

  .header__text {
    padding-right: 20px;
    width: 100%;
    left: 15px;
    bottom: 15px;
    font-size: 16px;
    line-height: 22px;
  }

  h2 {
    margin-bottom: 20px;
  }

  .section-about {
    margin-bottom: 80px;
  }

  .about__desc {
    width: 100%;
    font-size: 22px;
    line-height: 30px;
  }

  .about__btn {
    width: 100%;
    height: 51px;
    line-height: 51px;
  }

  .section-projects {
    margin-bottom: 80px;
  }

  .projects__img {
    height: 250px;
  }

  .projects__text {
    font-size: 18px;
    line-height: 25px;
  }
  
  .projects__link {
    font-size: 16px;
    line-height: 22px;
  }

  .projects__btn {
    height: 100px;
    line-height: 100px;
    font-size: 22px;
  }

  .section-services {
    padding: 80px 0;
  }

  .services__item-list {
    margin-bottom: 60px;
    row-gap: 60px;
  }

  .services__item {
    width: 100%;
  }

  .services__lable {
    top: 24px;
    left: 24px;
  }
  
  .services__img {
    margin-bottom: 10px;
    height: 240px;
  }

  .services__text {
    font-size: 18px;
    line-height: 25px;
  }

  .services__btn {
    height: 100px;
    line-height: 100px;
    font-size: 22px;
  }

  .section-feedback {
    padding: 80px 0;
  }

  .feedback__list-item {
    row-gap: 80px;
  }

  .feedback__item {
    width: 100%;
  }

  .feedback__title {
    margin-bottom: 10px;
    font-size: 25px;
    line-height: 34px;
  }

  .feedback__text {
    font-size: 16px;
    line-height: 22px;
  }
}



